{
    "handler_module": "orange.handlers",
    "celery_app": null,
    "default_sender_name": "sender_address",
    "sender_address": "+22300000",
    "use_db": true,
    "client_id": "<Your Client ID here>",
    "smsmt_url": "https://api.orange.com/smsmessaging/v1",
    "oauth_url": "https://api.orange.com/oauth/v2"
    "client_secret": "<Your client Secret here>",
    "enable_tester": true,
    "send_async": false
}
