{
    "handler_module": "orange.handlers",
    "celery_module": null,
    "default_sender_name": "sender_address",
    "sender_address": "+22300000000",
    "use_db": true,
    "client_id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "smsmt_url": "https://api.orange.com/smsmessaging/v1",
    "oauth_url": "https://api.orange.com/oauth/v2",
    "client_secret": "xxxxxxxxxxxxxxxx",
    "enable_tester": true,
    "send_async": false,
    "country": "MLI",
    "country_prefix": "223",
    "fix_msisdn": true
}
